.logo {
	&__link {
	}
}

.btn {
	display: inline-block;
	padding: 16px;
	color: $main-color;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	background: #fff;
	border-radius: 3px;

	@media (min-width: 768px) {
		margin: 10px 0px 0px 0px;
	}
}

.section-title {
	position: relative;
	font-family: "Roboto Condensed";
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 2px;
	padding: 0px 0px 28px 0px;
	color: $main-color;

	&::after {
		content: "";
		position: absolute;
		width: 50px;
		height: 8px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0px auto;
		background: $main-color;
	}

	@media (min-width: 640px) {
		font-size: 48px;
		line-height: 56px;
		&::after {
			width: 100px;
		}
	}

	&_color {
		color: #fff;
		&::after {
			background: #fff;
		}
	}
}

.info {
	display: inline-block;
	background: url("../img/icons/info\ button.png") center / 100% no-repeat;
	width: 30px;
	height: 30px;
	margin: 0px 10px 0px 0px;

	&_white {
		background-image: url('../img/icons/infowhite.png');
	margin: 0;
	}
}