/*Обнуление ко всем элементам*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
/* Подсчет ширины блока */
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* Убираем линии обводки в браузерах */
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
/* Делаем эллементы блочными */
nav,
footer,
header,
aside {
	display: block;
}
/* Уравнивание шрифтов и эллементов в разных браузерах. Например увеличение шрифта на айфоне */
html,
body {
	height: 100%;
	width: 100%;
	min-width: $minwidth;
	overflow-x: hidden;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #000;
	position: relative;
	font-family: $fontfamily;
}

/* Наследовть семейство шрифта. По умолчанию они этого не делают */
input,
button,
textarea {
	font-family: $fontfamily;
}
/* Особенности в разных браузерах. Крестик в инпутах. Отступы конопок. И обнуление списков */
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
/* Сбрасываем стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

//ОБОЛОЧКА
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}

//Основная сетка
.container {
	width: 100%;
	padding: 0 20px;
	// @media (max-width: $md1+px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 767px;
	// }
	@media (min-width: 640px) {
		padding: 0 30px;
	}
	@media (min-width: 768px) {
		padding: 0 40px;
	}
	@media (min-width: 1024px) {
		max-width: 1200;
		margin: 0 auto;
		// padding: 0 40px;
	}
	@media (min-width: 1440px) {
		max-width: $mw + px;
	}
}